.card_container {
	// margin-left: auto;
	// margin-right: auto;
	text-align: center;
	height: $card_height;
	width: $full;
	// border: $black;
	@include vertical-align();
}

#count {
	height: 100vh;
	position: relative;
	font-size: 20px;
	text-align: center;
	top: 0;

	#start {
		@include screen(white);

		form {
			margin-top: 150px;

			button {
				display: block;
				margin: 100px auto auto auto;
				@include button($button_height, $button_width);
			}
		}


	}

	#end {
		@include screen(white);

		button {
			margin-top: 150px;
			@include button($button_height, $button_width);
		}
	}

	#verify {
		@include screen($trans_black);

		button {
			margin-left: 20px;
			margin-top: 150px;
			@include button(40px, 40px);
			// background-color: transparentize(white, 0.2);
			background-color: white;
			// border: 1px solid black;
		}

		button:first-child {
			margin-left: 0;
		}
	}

	// VERIFY TRANSITIONS
	#verify {
		opacity: 1;
	}

	#verify.ng-hide {
		opacity: 0;
	}

	#verify.ng-hide-remove {
		@include transition((0.5s ease all));
	}


	// GREEN SCREEN TRANSITIONS
	#green_screen {
		@include screen(transparentize($verify_green, 0.2));
		opacity: 1;
	}

	#green_screen.ng-hide {
		opacity: 0;
	}

	#green_screen.ng-hide-add {
		@include transition((1s ease all));
	}


	// RED SCREEN TRANSITIONS
	#red_screen {
		@include screen(transparentize($verify_red, 0.2));
		opacity: 1;
	}

	#red_screen.ng-hide {
		opacity: 0;
	}

	#red_screen.ng-hide-add {
		@include transition((1s ease all));
	}

	// #red_screen.ng-hide-remove {
	// 	@include transition((1s ease all));
	// }


}

// #darken_secondary {
// 	background: $trans_black;
// 	height: $nav_height;
// 	width: $full;
// }

#top_secondary {
	// border: $white;
	color: white;
	height: $nav_height;
	// min-height: 375px;
	width: $full;
	// background: url('../img/blackjack_table.jpg') no-repeat center center;
	background-color: $main_black;
	background-size: cover;
	font-family: 'Josefin Sans', sans-serif;
	font-variant: small-caps;
	position: fixed;
	z-index: 2;
	@include box-shadow((0 2px 2px $trans_black));
}


