#bottom {
	height: $bottom_height;
	width: $full;

	.break:after {
		content: '';
		height: $p_bottom_height;
		width: 1px;
		display: block;
		position: relative;
		left: -15px;
		background: -webkit-linear-gradient(white 0%, darken($trans_gray, 20%) 50%, white 100%);
		background: -moz-linear-gradient(bottom, white 0%, darken($trans_gray, 20%) 50%, white 100%);
		background: -o-linear-gradient(bottom, white 0%, darken($trans_gray, 20%) 50%, white 100%);
		background: linear-gradient(bottom, white 0%, darken($trans_gray, 20%) 50%, white 100%);
	}


	.go_columns {

		// border: $black;
		height: $full;

		.bottom_title {
			// border: $black;
			text-align: center;
			width: 100%;
			margin-top: 30px;

			h1 {
				@include font(76px, 700, ('Josefin Sans', sans-serif), 0px, 0px, inherit, $main_red);
				// font-style: italic;
				display: inline;
				text-shadow: 1px 1px 0 $trans_gray;
				// float: left;
				// margin: 50px auto auto 50px;
			}

			h2 {
				@include font(38px, 400, ('Josefin Sans', sans-serif), 2px, 0px, inherit, black);
				display: inline;
				// float: left;
				// margin: 80px auto auto 20px;
				padding-left: 20px;
				text-shadow: 1px 1px 0 $trans_gray;

			}
		}

		.paragraphs {
			// border: $black;
			height: $p_bottom_height;
			position: absolute;
			width: $p_bottom_width;
			left: 50%;
			margin-left: -($p_bottom_width)/2;
			margin-top: 10px;
			text-align: center;

			p {
				// border: $black;
				text-align: left;
				line-height: 200%;
				width: 100%;
				margin-top: 20px;	
				@include font(18px, 300, ('Helvetica Neue', 'Helvetica', 'sans-serif'), 0px, 0px, inherit, black);
			}

			.but {
				@include link();
				color: black;
				font-size: 18px;
				position: absolute;
				bottom: 0px;
				left: ($p_bottom_width - $button_width)/2;
				

				button {
					width: $button_width;
					height: $button_height;
					background-color: transparent;
					border: 2px solid black;
					padding: 0;
					@include border-radius(10px);
					@include transition((background-color 0.35s ease, color 0.35s ease));
					@include box-shadow((0 0 2px $trans_black));

					&:hover {
						background-color: $main_red;
						color: white;
					}
				}
			}
		}
		
		

	}
}

#darken {
	background: $trans_black;
	height: $full;
	width: $full;
}

#top {
	// border: $white;
	color: white;
	height: 100vh;
	min-height: 375px;
	width: $full;
	background: url('../img/blackjack_table.jpg') no-repeat center center;
	background-size: cover;
	font-family: 'Josefin Sans', sans-serif;
	font-variant: small-caps;
	// text-shadow: 1px 1px 0 $trans_black;
}

#main {
	width: $full;
	min-width: $main_min_width;
	position: absolute;
	top: 50%;
	margin-top: $main_margin;
	// height: -moz-calc(100vh - #{$nav_height});

	#title {
		width: $full;
		// border: $white;
		text-align: center;
		height: $title_height;
		line-height: $title_height;
		@include font(72px, 700, inherit, 10px, 0px, inherit, inherit);
	}

	#phrase {
		width: $full;
		// border: $white;
		text-align: center;
		height: $phrase_height;
		line-height: $phrase_height;
		@include font(20px, 200, ('Helvetica Neue', 'Helvetica', 'sans-serif'), 2px, 5px, normal, inherit);
	}

	
}

#scroll_circle {
	bottom: $scroll_width + 50px;
	width: $scroll_width;
	height: $scroll_width;
	position: relative;
	margin-left: 50%;
	left: -($scroll_width)/2;
	text-align: center;
	border: 2px solid white;
	@include border_radius($scroll_width/2);
	cursor: pointer;
	@include transition(background-color 0.35s ease);

	&:hover {
		background-color: $main_red;
	}

	#scroll {
		position: relative;
		height: 100%;
		width: 100%;
		background: url('../img/arrow.png') no-repeat center center;
		@include animation(small_bounce 1s infinite);
	}
}

@keyframes small_bounce {
	@include small_bounce(5px);
}

@-webkit-keyframes small_bounce {
	@include small_bounce(5px);
}

#nav {
	// border: $black;
	height: $nav_height;
	width: $full;
	line-height: $nav_height;
	// background: $trans_black;

	a {
		@include link();
	}

	#links {
		float: right;

		a {
			// border: $white;
			margin-right: $nav_margin;
			@include sliding_underline();
			@include font(18px, 600, inherit, 2px, 0px, inherit, inherit);

			&:after {
				@include sliding_underline_after(20px, 5px, 0.35s);
			}
			&:hover:after {
				@include sliding_underline_after_hover($main_red);
			}
		}
	}

	#logo_text {
		margin-left: $nav_margin;
		float: left;
		@include font(36px, 700, inherit, 5px, 0px, inherit, inherit);
		// border: $white;
	}

	#logo {
		float: left;
		// border: $white;
		height: $logo_height;
		width: $logo_height;
		background: url('../img/logo_red.png') no-repeat center center;
		// margin-top: ($nav_height - $logo_height)/2;
		margin-top: 11px;
		margin-left: -105px;
	}
}

#footer {
	width: $full;
	height: 100px;
}

.imp {
	font-style: italic;
}