$card_scale: 0.75;
$card_height: 243.5px * $card_scale;
$card_width: 167.5px * $card_scale;
$full: 100%;
$black: 1px solid black;
$white: 1px solid white;
$nav_height: 75px;
$title_height: 100px;
$phrase_height: 50px;
$main_margin: -($title_height+$phrase_height)/2;
$bottom_height: 700px;
$main_min_width: 750px;
$scroll_width: 50px;
$nav_margin: 30px;
$logo_height: 46px;
$p_bottom_width: 320px;
$p_bottom_height: 500px;
$button_width: 150px;
$button_height: 50px;
$media_max: 760px;

// colors
$main_black: rgba(30,30,30,1);
$main_gray: rgba(192, 192, 192, 1);
$main_red: red;
$verify_green: rgba(0, 255, 128, 1);
$verify_red: rgba(255, 20, 10, 1);
$trans_gray: rgba(192, 192, 192, 0.5);
$trans_black: rgba(0,0,0,0.85);
