// variables
$card_height: 243.5px/2;
$card_width: 167.5px/2;
$main_gray: rgba(192, 192, 192, 1);
$trans_gray: rgba(192, 192, 192, 0.5);
$trans_black: rgba(0,0,0,0.8);
$full: 100%;
$black: 1px solid black;
$white: 1px solid white;
$nav_height: 75px;
$title_height: 100px;
$phrase_height: 50px;
$main_margin: -($title_height+$phrase_height)/2;

// home.html
#bottom {
	height: 100vh;
	width: $full;
}

#darken {
	background: $trans_black;
	height: $full;
	width: $full;
}

.go_columns {
	// float: left;
	border: $black;
	height: $full;
}

#top {
	border: $white;
	color: white;
	height: 100vh;
	width: $full;
	background: url('../img/blackjack_table.jpg') no-repeat center center;
	font-family: 'Josefin Sans', sans-serif;
	font-variant: small-caps;
}

#main {
	width: $full;
	position: absolute;
	top: 50%;
	margin-top: $main_margin;
}

#main #title {
	width: $full;
	// border: $white;
	font-size: 60px;
	text-align: center;
	height: $title_height;
	line-height: $title_height;
	font-weight: 600;
}

#main #phrase {
	width: $full;
	// border: $white;
	text-align: center;
	height: $phrase_height;
	line-height: $phrase_height;
	font-family: 'Ubuntu', 'sans-serif';
	font-variant: normal;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
	word-spacing: 5px;
}

#nav {
	// border: $black;
	height: $nav_height;
	width: $full;
	// background: $trans_black;
}

#nav #links {
	float: right;
}

// cards, count.html
@mixin back_pos($width, $height) {
	background-position: (-$card_width * $width) (-$card_height * $height);
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin screen($color) {
	background-color: $color;
	height: 100vh;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100vw;
}

html, body {
	border: 0px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#start, #end {
	@include screen($main_gray);
}

#verify {
	@include screen($trans_gray);
}

.card { 
	background-image: url('../img/cards_noborder_small.png');
	border: 1px solid black;
	@include border-radius(5px);
	float: left;
	height: $card_height;
	width: $card_width;
}

.card.back {
	@include back_pos(2,4);
}

.card.v_a.c {
	@include back_pos(0,0);
}

.card.v_a.d {
	@include back_pos(0,1);
}

.card.v_a.h {
	@include back_pos(0,2);
}

.card.v_a.s {
	@include back_pos(0,3);
}

.card.v_k.c {
	@include back_pos(12,0);
}

.card.v_k.d {
	@include back_pos(12,1);
}

.card.v_k.h {
	@include back_pos(12,2);
}

.card.v_k.s {
	@include back_pos(12,3);
}

.card.v_q.c {
	@include back_pos(11,0);
}

.card.v_q.d {
	@include back_pos(11,1);
}

.card.v_q.h {
	@include back_pos(11,2);
}

.card.v_q.s {
	@include back_pos(11,3);
}

.card.v_j.c {
	@include back_pos(10,0);
}

.card.v_j.d {
	@include back_pos(10,1);
}

.card.v_j.h {
	@include back_pos(10,2);
}

.card.v_j.s {
	@include back_pos(10,3);
}

.card.v_10.c {
	@include back_pos(9,0);
}

.card.v_10.d {
	@include back_pos(9,1);
}

.card.v_10.h {
	@include back_pos(9,2);
}

.card.v_10.s {
	@include back_pos(9,3);
}

.card.v_9.c {
	@include back_pos(8,0);
}

.card.v_9.d {
	@include back_pos(8,1);
}

.card.v_9.h {
	@include back_pos(8,2);
}

.card.v_9.s {
	@include back_pos(8,3);
}

.card.v_8.c {
	@include back_pos(7,0);
}

.card.v_8.d {
	@include back_pos(7,1);
}

.card.v_8.h {
	@include back_pos(7,2);
}

.card.v_8.s {
	@include back_pos(7,3);
}

.card.v_7.c {
	@include back_pos(6,0);
}

.card.v_7.d {
	@include back_pos(6,1);
}

.card.v_7.h {
	@include back_pos(6,2);
}

.card.v_7.s {
	@include back_pos(6,3);
}

.card.v_6.c {
	@include back_pos(5,0);
}

.card.v_6.d {
	@include back_pos(5,1);
}

.card.v_6.h {
	@include back_pos(5,2);
}

.card.v_6.s {
	@include back_pos(5,3);
}

.card.v_5.c {
	@include back_pos(4,0);
}

.card.v_5.d {
	@include back_pos(4,1);
}

.card.v_5.h {
	@include back_pos(4,2);
}

.card.v_5.s {
	@include back_pos(4,3);
}

.card.v_4.c {
	@include back_pos(3,0);
}

.card.v_4.d {
	@include back_pos(3,1);
}

.card.v_4.h {
	@include back_pos(3,2);
}

.card.v_4.s {
	@include back_pos(3,3);
}

.card.v_3.c {
	@include back_pos(2,0);
}

.card.v_3.d {
	@include back_pos(2,1);
}

.card.v_3.h {
	@include back_pos(2,2);
}

.card.v_3.s {
	@include back_pos(2,3);
}

.card.v_2.c {
	@include back_pos(1,0);
}

.card.v_2.d {
	@include back_pos(1,1);
}

.card.v_2.h {
	@include back_pos(1,2);
}

.card.v_2.s {
	@include back_pos(1,3);
}