.card {
  background-image: url("../img/cards_noborder_75.png");
  border: 1px solid black;
  display: inline-block;
  height: 182.625px;
  width: 125.625px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.85);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.85); }

.card.back {
  background-position: -251.25px -730.5px; }

.card.v_a.c {
  background-position: 0px 0px; }

.card.v_a.d {
  background-position: 0px -182.625px; }

.card.v_a.h {
  background-position: 0px -365.25px; }

.card.v_a.s {
  background-position: 0px -547.875px; }

.card.v_k.c {
  background-position: -1507.5px 0px; }

.card.v_k.d {
  background-position: -1507.5px -182.625px; }

.card.v_k.h {
  background-position: -1507.5px -365.25px; }

.card.v_k.s {
  background-position: -1507.5px -547.875px; }

.card.v_q.c {
  background-position: -1381.875px 0px; }

.card.v_q.d {
  background-position: -1381.875px -182.625px; }

.card.v_q.h {
  background-position: -1381.875px -365.25px; }

.card.v_q.s {
  background-position: -1381.875px -547.875px; }

.card.v_j.c {
  background-position: -1256.25px 0px; }

.card.v_j.d {
  background-position: -1256.25px -182.625px; }

.card.v_j.h {
  background-position: -1256.25px -365.25px; }

.card.v_j.s {
  background-position: -1256.25px -547.875px; }

.card.v_10.c {
  background-position: -1130.625px 0px; }

.card.v_10.d {
  background-position: -1130.625px -182.625px; }

.card.v_10.h {
  background-position: -1130.625px -365.25px; }

.card.v_10.s {
  background-position: -1130.625px -547.875px; }

.card.v_9.c {
  background-position: -1005px 0px; }

.card.v_9.d {
  background-position: -1005px -182.625px; }

.card.v_9.h {
  background-position: -1005px -365.25px; }

.card.v_9.s {
  background-position: -1005px -547.875px; }

.card.v_8.c {
  background-position: -879.375px 0px; }

.card.v_8.d {
  background-position: -879.375px -182.625px; }

.card.v_8.h {
  background-position: -879.375px -365.25px; }

.card.v_8.s {
  background-position: -879.375px -547.875px; }

.card.v_7.c {
  background-position: -753.75px 0px; }

.card.v_7.d {
  background-position: -753.75px -182.625px; }

.card.v_7.h {
  background-position: -753.75px -365.25px; }

.card.v_7.s {
  background-position: -753.75px -547.875px; }

.card.v_6.c {
  background-position: -628.125px 0px; }

.card.v_6.d {
  background-position: -628.125px -182.625px; }

.card.v_6.h {
  background-position: -628.125px -365.25px; }

.card.v_6.s {
  background-position: -628.125px -547.875px; }

.card.v_5.c {
  background-position: -502.5px 0px; }

.card.v_5.d {
  background-position: -502.5px -182.625px; }

.card.v_5.h {
  background-position: -502.5px -365.25px; }

.card.v_5.s {
  background-position: -502.5px -547.875px; }

.card.v_4.c {
  background-position: -376.875px 0px; }

.card.v_4.d {
  background-position: -376.875px -182.625px; }

.card.v_4.h {
  background-position: -376.875px -365.25px; }

.card.v_4.s {
  background-position: -376.875px -547.875px; }

.card.v_3.c {
  background-position: -251.25px 0px; }

.card.v_3.d {
  background-position: -251.25px -182.625px; }

.card.v_3.h {
  background-position: -251.25px -365.25px; }

.card.v_3.s {
  background-position: -251.25px -547.875px; }

.card.v_2.c {
  background-position: -125.625px 0px; }

.card.v_2.d {
  background-position: -125.625px -182.625px; }

.card.v_2.h {
  background-position: -125.625px -365.25px; }

.card.v_2.s {
  background-position: -125.625px -547.875px; }

.card_container {
  text-align: center;
  height: 182.625px;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#count {
  height: 100vh;
  position: relative;
  font-size: 20px;
  text-align: center;
  top: 0; }
  #count #start {
    background-color: white;
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1; }
    #count #start form {
      margin-top: 150px; }
      #count #start form button {
        width: 100px;
        height: 35px;
        background-color: transparent;
        border: 2px solid black;
        padding: 0;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        -webkit-transition: background-color 0.35s ease, color 0.35s ease;
        -moz-transition: background-color 0.35s ease, color 0.35s ease;
        -o-transition: background-color 0.35s ease, color 0.35s ease;
        transition: background-color 0.35s ease, color 0.35s ease;
        -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
        -o-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35); }
        #count #start form button:hover {
          background-color: red;
          color: white; }
  #count #end {
    background-color: white;
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1; }
    #count #end button {
      margin-top: 150px;
      width: 150px;
      height: 50px;
      background-color: transparent;
      border: 2px solid black;
      padding: 0;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      -webkit-transition: background-color 0.35s ease, color 0.35s ease;
      -moz-transition: background-color 0.35s ease, color 0.35s ease;
      -o-transition: background-color 0.35s ease, color 0.35s ease;
      transition: background-color 0.35s ease, color 0.35s ease;
      -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
      -o-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35); }
      #count #end button:hover {
        background-color: red;
        color: white; }
  #count #verify {
    background-color: rgba(0, 0, 0, 0.85);
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1; }
    #count #verify button {
      margin-left: 20px;
      margin-top: 150px;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: 2px solid black;
      padding: 0;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      -webkit-transition: background-color 0.35s ease, color 0.35s ease;
      -moz-transition: background-color 0.35s ease, color 0.35s ease;
      -o-transition: background-color 0.35s ease, color 0.35s ease;
      transition: background-color 0.35s ease, color 0.35s ease;
      -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
      -o-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid black; }
      #count #verify button:hover {
        background-color: red;
        color: white; }
    #count #verify button:first-child {
      margin-left: 0; }
  #count #green_screen {
    background-color: rgba(0, 255, 128, 0.8);
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1; }
  #count #red_screen {
    background-color: rgba(255, 20, 10, 0.8);
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 1; }

#top_secondary {
  color: white;
  height: 75px;
  width: 100%;
  background-color: #1e1e1e;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  font-variant: small-caps;
  position: fixed;
  z-index: 2;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.85);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.85); }

#bottom {
  height: 700px;
  width: 100%; }
  #bottom .break:after {
    content: '';
    height: 500px;
    width: 1px;
    display: block;
    position: relative;
    left: -15px;
    background: -webkit-linear-gradient(white 0%, rgba(141, 141, 141, 0.5) 50%, white 100%);
    background: -moz-linear-gradient(bottom, white 0%, rgba(141, 141, 141, 0.5) 50%, white 100%);
    background: -o-linear-gradient(bottom, white 0%, rgba(141, 141, 141, 0.5) 50%, white 100%);
    background: linear-gradient(bottom, white 0%, rgba(141, 141, 141, 0.5) 50%, white 100%); }
  #bottom .go_columns {
    height: 100%; }
    #bottom .go_columns .bottom_title {
      text-align: center;
      width: 100%;
      margin-top: 30px; }
      #bottom .go_columns .bottom_title h1 {
        font-size: 76px;
        font-weight: 700;
        font-family: "Josefin Sans", sans-serif;
        letter-spacing: 0px;
        word-spacing: 0px;
        font-variant: inherit;
        color: red;
        display: inline;
        text-shadow: 1px 1px 0 rgba(192, 192, 192, 0.5); }
      #bottom .go_columns .bottom_title h2 {
        font-size: 38px;
        font-weight: 400;
        font-family: "Josefin Sans", sans-serif;
        letter-spacing: 2px;
        word-spacing: 0px;
        font-variant: inherit;
        color: black;
        display: inline;
        padding-left: 20px;
        text-shadow: 1px 1px 0 rgba(192, 192, 192, 0.5); }
    #bottom .go_columns .paragraphs {
      height: 500px;
      position: absolute;
      width: 320px;
      left: 50%;
      margin-left: -160px;
      margin-top: 10px;
      text-align: center; }
      #bottom .go_columns .paragraphs p {
        text-align: left;
        line-height: 200%;
        width: 100%;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 300;
        font-family: "Helvetica Neue", "Helvetica", "sans-serif";
        letter-spacing: 0px;
        word-spacing: 0px;
        font-variant: inherit;
        color: black; }
      #bottom .go_columns .paragraphs .but {
        color: white;
        outline: 0;
        text-decoration: none;
        color: black;
        font-size: 18px;
        position: absolute;
        bottom: 0px;
        left: 85px; }
        #bottom .go_columns .paragraphs .but:hover {
          text-decoration: none; }
        #bottom .go_columns .paragraphs .but:active {
          text-decoration: none; }
        #bottom .go_columns .paragraphs .but button {
          width: 150px;
          height: 50px;
          background-color: transparent;
          border: 2px solid black;
          padding: 0;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -o-border-radius: 10px;
          border-radius: 10px;
          -webkit-transition: background-color 0.35s ease, color 0.35s ease;
          -moz-transition: background-color 0.35s ease, color 0.35s ease;
          -o-transition: background-color 0.35s ease, color 0.35s ease;
          transition: background-color 0.35s ease, color 0.35s ease;
          -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
          -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
          -o-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.35); }
          #bottom .go_columns .paragraphs .but button:hover {
            background-color: red;
            color: white; }

#darken {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%; }

#top {
  color: white;
  height: 100vh;
  min-height: 375px;
  width: 100%;
  background: url("../img/blackjack_table.jpg") no-repeat center center;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  font-variant: small-caps; }

#main {
  width: 100%;
  min-width: 750px;
  position: absolute;
  top: 50%;
  margin-top: -75px; }
  #main #title {
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 72px;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: 10px;
    word-spacing: 0px;
    font-variant: inherit;
    color: inherit; }
  #main #phrase {
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 200;
    font-family: "Helvetica Neue", "Helvetica", "sans-serif";
    letter-spacing: 2px;
    word-spacing: 5px;
    font-variant: normal;
    color: inherit; }

#scroll_circle {
  bottom: 100px;
  width: 50px;
  height: 50px;
  position: relative;
  margin-left: 50%;
  left: -25px;
  text-align: center;
  border: 2px solid white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background-color 0.35s ease;
  -moz-transition: background-color 0.35s ease;
  -o-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease; }
  #scroll_circle:hover {
    background-color: red; }
  #scroll_circle #scroll {
    position: relative;
    height: 100%;
    width: 100%;
    background: url("../img/arrow.png") no-repeat center center;
    -webkit-animation: small_bounce 1s infinite;
    -moz-animation: small_bounce 1s infinite;
    -o-animation: small_bounce 1s infinite;
    animation: small_bounce 1s infinite; }

@keyframes small_bounce {
  0% {
    top: 0px; }
  50% {
    top: 5px; }
  100% {
    top: 0px; } }
@-webkit-keyframes small_bounce {
  0% {
    top: 0px; }
  50% {
    top: 5px; }
  100% {
    top: 0px; } }
#nav {
  height: 75px;
  width: 100%;
  line-height: 75px; }
  #nav a {
    color: white;
    outline: 0;
    text-decoration: none; }
    #nav a:hover {
      text-decoration: none; }
    #nav a:active {
      text-decoration: none; }
  #nav #links {
    float: right; }
    #nav #links a {
      margin-right: 30px;
      display: inline-block;
      position: relative;
      font-size: 18px;
      font-weight: 600;
      font-family: inherit;
      letter-spacing: 2px;
      word-spacing: 0px;
      font-variant: inherit;
      color: inherit; }
      #nav #links a:after {
        content: '';
        display: block;
        margin: auto;
        height: 5px;
        width: 0px;
        background: transparent;
        position: relative;
        bottom: 20px;
        -webkit-transition: width 0.35s ease, background-color 0.35s ease;
        -moz-transition: width 0.35s ease, background-color 0.35s ease;
        -o-transition: width 0.35s ease, background-color 0.35s ease;
        transition: width 0.35s ease, background-color 0.35s ease; }
      #nav #links a:hover:after {
        width: 100%;
        background: red; }
  #nav #logo_text {
    margin-left: 30px;
    float: left;
    font-size: 36px;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: 5px;
    word-spacing: 0px;
    font-variant: inherit;
    color: inherit; }
  #nav #logo {
    float: left;
    height: 46px;
    width: 46px;
    background: url("../img/logo_red.png") no-repeat center center;
    margin-top: 11px;
    margin-left: -105px; }

#footer {
  width: 100%;
  height: 100px; }

.imp {
  font-style: italic; }

html, body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
