<div>

	<!-- <button ng-click='deal(54)'>Deal</button>
	<button ng-click='deal_continuous(2)'>Continuous Deal</button> -->
	<!-- <button ng-click='pause_deal()'>Pause</button>
	<button ng-click='continue_deal(number_of_cards_per_time, time_per_cards, split_array)'>Continue</button> -->
	

	<form ng-submit='deal_continuous(number_of_cards_per_time, time_per_cards, number_of_decks, count_freq)'>
		Show me <input type='text' ng-model='number_of_cards_per_time'> cards every <input type='text' ng-model='time_per_cards'> seconds from <input type='text' ng-model='number_of_decks'> decks, and ask for the count 
		<select ng-model='count_freq' ng-options='option for option in freq_options'></select>
		<button type='submit'>Start</button>
	</form>

	frequency option: {{ count_freq }} <br>
	cards left in deck: {{ cards.length }}

	<form ng-submit='verify_count(count_guess)'>
		<input type='text' ng-model='count_guess' placeholder='count?'>
		<button type="submit">Verify Count</button>
	</form>

	<p ng-show='count_right'>You got the count right!</p>

	<p ng-show='count_wrong'>You got the count wrong :(</p>

	<div ng-repeat='card in current_deal track by $index'>
		<div card></div card>
	</div>

</div>

