<div>

	<!-- <button ng-click='deal(2)' ng-show='cards.length'>Deal</button>
	<button ng-click='deal_continuous(2)' ng-show='cards.length'>Continuous Deal</button> -->

	<form ng-submit='deal_continuous(number_of_cards, time_per_cards, number_of_decks)'>
		Show me <input type='number' ng-model='number_of_cards'> cards every <input type='number' ng-model='time_per_cards'> seconds from <input type='number' ng-model='number_of_decks'> decks.
		<button type='submit' ng-show='!cards.length'>Start</button>
	</form>


	cards left in deck: {{ cards.length }}

	<form ng-submit='verify_count(count_guess)'>
		<input type='text' ng-model='count_guess' placeholder='count?'>
		<button type="submit">Verify Count</button>
	</form>

	<p ng-show='count_right'>You got the count right!</p>

	<p ng-show='count_wrong'>You got the count wrong :(</p>

	<div ng-repeat='card in current_deal track by $index'>
		<div card></div card>
	</div>

</div>

