
<div id="top">
	<div id="darken">
		<div id="nav">
			<a href=""><div id="logo_text">CO &nbsp NT</div><div id="logo"></div></a>
			<div id="links">
				<!-- <a href="">Strategy</a>
				<a href="">Count</a>
				<a href="">Play</a> -->
				<a href="">STRATEGY</a>
				<a href="">COUNT</a>
				<a href="">PLAY</a>
			</div>
		</div>

		<div id="main">
			<div id="title">BEAT BLACKJACK</div>
			<div id="phrase">Practice Basic Strategy and Card Counting</div>
			
		</div>

	</div>
	<div id="scroll_circle" scroll-to-item scroll-to="#bottom">
		<div id="scroll"></div>
	</div>
</div>

<div id="bottom">
	<div class="go_columns col-md-4">
		<div class="bottom_title">
			<h1>1</h1>
			<h2>STRATEGY</h2>
		</div>
		
		<div class="paragraphs">
			<p>Practice <a href="http://en.wikipedia.org/wiki/Blackjack#Blackjack_strategy">basic strategy</a> without worrying about the coutcome. Try to understand the reasoning behind this strategy as you improve.</p>
			<p>Your goal should be 100% success here; this part of blackjack is more memory than skill. Note that the house still has a slight edge against a "perfect" player who isn't counting*.</p>

			<a class="but" href=""><button>Coming Soon</button></a>
		</div>
		
		
	</div>

	<div class="go_columns col-md-4">
		<div class="bottom_title">
			<h1>2</h1>
			<h2>COUNT</h2>
		</div>
		
		<div class="paragraphs">
			<p>Card counting is a form of advantage play that is powerful enough to give you a <span class="imp">long-term</span> edge in the game.</p>
			<p>The purpose of this section is to practice counting cards at your own pace using the <a href="http://en.wikipedia.org/wiki/Card_counting">Hi-Lo system</a>.</p>

			<a class="but" href="#/count"><button>Beta</button></a>
		</div>
	</div>
	
	<div class="go_columns col-md-4">
		<div class="bottom_title">
			<h1>3</h1>
			<h2>PLAY</h2>
		</div>
		
		<div class="paragraphs">
			<p>Put it all together in a real blackjack simulation. Hone your skills on your own before heading to Vegas, or practice with friends using our multiplayer mode!</p>
			<p>Generally, you want to bet more when the count is high, while maintaining basic strategy. Learn <a href="http://en.wikipedia.org/wiki/Card_counting#Running_counts_versus_True_counts_in_Balanced_counting_systems">advanced techniques</a> to maximize your advantage as you improve.</p>

			<a class="but" href=""><button>Coming Soon</button></a>
		</div>
	</div>
</div>

<div id="footer"></div>