
<div id="top">
	<div id="darken">
		<div id="nav">
			logo
			<div id="links">
				<a href="">Strategy</a>
				<a href="">Count</a>
				<a href="">Play</a>
			</div>
		</div>

		<div id="main">
			<div id="title">Beat Blackjack</div>
			<div id="phrase">Practice Basic Strategy and Card Counting</div>
			<div id="arrow">down</div>
		</div>
	</div>
	
</div>

<div id="bottom">
	<div class="go_columns col-sm-4">
		<h1>1</h1>
		<h2>Strategy</h2>
		<p>some text</p>
		<a href="">coming soon</a>
	</div>

	<div class="go_columns col-sm-4">
		<h1>2</h1>
		<h2>Count</h2>
		<p>some text</p>
		<a href="">select</a>
	</div>
	
	<div class="go_columns col-sm-4">
		<h1>3</h1>
		<h2>Play</h2>
		<p>some text</p>
		<a href="">coming soon</a>
	</div>
</div>